<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href= "css/style.css">
</head>
        <body class="container col-lg-4">
                <nav class="navbar navbar-default">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                              <img alt="To Do List" src="...">
                            </a>
                          </div>
                        </div>
                      </nav>
                <h2>To Do List</h2>
        
            <div id="app"></div>
        
            <!-- This unusual tag is a script text/template. It does not actually appear on the page as HTML. However, Vue can reference this HTML by ID and use it essentially as a template string. -->
            <script type="text/x-template" id="app-template">
             
                <section class="outer-container">
                   
                    <div class="container">
                        <div class="add-todo-group input-group">
                              <span class="input-group-addon">
                              <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                            
                          <form v-on:submit.prevent="addTodo">
                            <input
                                    type="text"
                                    v-model="text"
                                    class="form-control"
                                    placeholder="Add new task!">
                                    
            
                            <!-- Note the property :disabled. It begins with a colon (:), indicating that Vue should interpret the value as an expression, and not a string.-->
                            <button :disabled="submitIsDisabled" class="btn btn-primary mt-2">
                                Add To List
                            </button>
                        </form>
                      </div>
                      
                    <ul class="list-group">
                        <!-- The v-for attribute that we see here repeats whatever tag it is on (in this case, a LI) one time for each element of the referenced list, which in this case is our list. Each repetition, the property has a different value.  -->
                        <li v-for="todo in filteredTodos":key="todo.id" class="list-group-item">
                            <label class="form-check-label ml-4">
                                <span>
                                       <h4 class="list-group-item-heading"> {{ todo.name }}: </h4>
                                        <p class="list-group-item-text">{{ todo.description }} </p>
                                    </span>
                            </label>
                                </span>
                                <button v-on:click="todo.complete = !todo.complete" class="btn btn-danger" type="button">
                                    <i class="glyphicon glyphicon-remove"></i>
                                  </button>
                        </li>
                    </ul>
                  
                  </div>
            
                </section>
            </script>
    
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>